{# Template for home view #}

{% extends "blog/base.html" %}

{% block blog_content %}

  <!-- w3-content defines a container for fixed size centered content,
  and is wrapped around the whole page content, except for the footer in this example -->
  <div class="w3-content" style="max-width:1200px">

  <!-- Header -->
  <header class="w3-container w3-center w3-padding-32">
    <h1 id="heading-blog"><b>{{ blog_container.get_title() }}</b></h1>
    <p>Viewing posts by <span class="w3-tag">patrickjuma</span></p>
  </header>

  <!-- Grid -->
  <div class="w3-row">

  <!-- Blog entries -->
  <div class="w3-col l8 s12">
    <!-- Blog entry -->
    {% with posts=blog_container.get_roll_posts() %}
      {% include "blog/blog_roll_content.html" %}
    {% endwith %}

    <!-- Blog entry -->
    <div class="w3-card-4 w3-margin w3-white">
    <img src="/w3images/bridge.jpg" alt="Norway" style="width:100%">
      <div class="w3-container">
        <h3><b>BLOG ENTRY</b></h3>
        <h5>Title description, <span class="w3-opacity">April 2, 2014</span></h5>
      </div>

      <div class="w3-container">
        <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
          tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
        <div class="w3-row">
          <div class="w3-col m8 s12">
            <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
          </div>
          <div class="w3-col m4 w3-hide-small">
            <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-badge">2</span></span></p>
          </div>
        </div>
      </div>
    </div>
  <!-- END BLOG ENTRIES -->
  </div>

  <!-- Introduction menu -->
  <div class="w3-col l4">
    {% if request.has_permission("edit") %}
      <!-- Admin Card -->
      <div class="w3-card-2 w3-margin w3-margin-top">
      <div class="w3-container w3-white">
        {% include "blog/admin_panel.html" %}
      </div>
      </div><hr>
    {% endif %}

    <!-- About Card -->
    <div class="w3-card-2 w3-margin w3-margin-top">
    <img src="{{ 'allcleanapp:static/images/patrick_blog_photo.jpg'|static_url }}" style="width:100%">
      <div class="w3-container w3-white">
        <h4><b>Patrick Juma</b></h4>
        <p>
          Patrick Juma is the founder & CEO of All Clean Property Services.
          You can find him on <a target="_blank" href="https://www.linkedin.com/in/patrick-juma-29788a1a/">Linkedin</a></p>
      </div>
    </div><hr>

    <!-- Posts -->
    <div class="w3-card-2 w3-margin">
      <div class="w3-container w3-padding">
        <h4>Popular Posts</h4>
      </div>
      <ul class="w3-ul w3-hoverable w3-white">
        <li class="w3-padding-16">
          <img src="/w3images/workshop.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Lorem</span><br>
          <span>Sed mattis nunc</span>
        </li>
        <li class="w3-padding-16">
          <img src="/w3images/gondol.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Ipsum</span><br>
          <span>Praes tinci sed</span>
        </li>
        <li class="w3-padding-16">
          <img src="/w3images/skies.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Dorum</span><br>
          <span>Ultricies congue</span>
        </li>
        <li class="w3-padding-16 w3-hide-medium w3-hide-small">
          <img src="/w3images/rock.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Mingsum</span><br>
          <span>Lorem ipsum dipsum</span>
        </li>
      </ul>
    </div>
    <hr>

    <!-- Labels / tags -->
    <div class="w3-card-2 w3-margin">
      <div class="w3-container w3-padding">
        <h4>Tags</h4>
      </div>
      <div class="w3-container w3-white">
        {#% if post_admin.get_tag_list() %}
          <span class="tags-line">
            Tagged under
            {% for tag in post_admin.post.get_tag_list() %}<a href="{{ "blog_tag"|route_url(tag=tag) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}.
          </span>
        {% endif %#}
      <p>
        <span class="w3-tag w3-black w3-margin-bottom">Edmonton</span>
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Window cleaning</span>
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Cleaning gutters</span>
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Gutter</span>
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Kelowna</span>
      </p>
      </div>
    </div>

  <!-- END Introduction Menu -->
  </div>

  <!-- END GRID -->
  </div><br>

  <!-- END w3-content -->
  </div>

{% endblock %}
