{# Main loop to render all posts. #}


{% if posts %}
  {% for post_resource in posts %}
    <div class="post">
      <h2>
        <a href="{{ post_resource|model_url }}" class="post-link {{ post_resource.get_heading_class() }}">
          {{ post_resource.post.title }}
        </a>
      </h2>

      {% include "blog/byline.html" %}

      <div class="excerpt">
        {{ post_resource.post.excerpt }}
      </div>

    </div>
  {% endfor %}
{% else %}
  <p id="blog-no-posts">No blog posts found.</p>
{% endif %}
